body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 24px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: fit-content;
    margin: 24px 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

button#reset-lista {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffc107;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button#limpar-lista {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px; 
}

button#reset-lista:hover {
    background-color: #e0a800;
}

button#limpar-lista:hover {
    background-color: #c82333; 
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 8px 16px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

li span {
    flex: 1;
}

li span.riscado {
    text-decoration: line-through;
    color: #6c757d;
}

li button {
    background: #dc3545;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

li button:hover {
    background: #c82333;
}
